*.pyc
*.idea
*.project
*.pydevproject
*.settings
*.swp
*.swo
*.iml
development.sqlite3

/static/bootstrap/
/build/
/DeployDjango/local_settings.py
/static/bootstrap-master/bootstrap/css/bootstrap.min.css
/static/bootstrap-master/bootstrap/css/bootstrap.css
/celerybeat-schedule
/MANIFEST
